#----------------------------------
# mini-gland excludes

*.blend*
*.obj
*.mtl
*.stl
*.ply
*.log
*.tif

#exceptions
!mini_gland_duct.ply

#----------------------------------
# Mac excludes

.DS_Store
._*

